<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="./assets/styles.css">
    <title>MemoryCard Game - JSVanilla</title>
  </head>
  <body>
    <h1>Intentos:<span class="playerLivesCount"></span></h1>
    <section></section>
    <script src="./app.js"></script>
  </body>
</html>